/* BAGIAN CSS LOGIN */
*{
	padding:0;
	margin:0;
	font-family: 'Roboto', 'Quicksand';
}
body {
	background-color: #f8f8f8;
	
}
#bg-login{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login{
	width: 300px;
	min-height: 200px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
}
.box-login h1{
	text-align: center;
	color: green;
	margin-bottom: 15px;
}
.input-control{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.tombollogin{
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	background-color: #05E707 ;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 15px;
}
/* BAGIAN DASHBOARD */
a {
	color: inherit;
	text-decoration: none;
}

header{
	background-color: #05E707;
	color: white;
}
header h1{
	float: left;
	padding: 15px 0;
	padding: 15px;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 30px 0 20px 15px;/* padding atas 30px, padding kanan 0, padding bawah 20px, padding kiri 15px*/
	display: inline-block;
}
footer{
	padding: 20px 0;
	background-color: #333;
	color: #fff;
}
.container{
	width: 80%;
	margin:0 auto;


}
.container:after {
	content: '';
	display: block;
	clear: both;

}
.section{
	padding: 25px 0px ;
	display: inline-block;
	display: flex;
	justify-content: right;
}
.boxdashboard{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 1300px;
}

/* BAGIAN PROFIL */

.submitprofil{
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	background-color: #05E707 ;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 100%;
	justify-content: left;
	align-items: right;
}
.inputprofil{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;

	box-sizing: border-box;
}

.containerprofil{
	width: 80%;
	margin:35px ;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: right;
}
.boxupdateprofil{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 400px;
	margin:20px ;

}
.boxgantipassprofil{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 400px;
	margin:20px ;
}
#bg-profil{
	height: 100vh;

}
h3 {
	color: green;
	padding: 20px 0;
}

/* BAGIAN KATEGORI  */

.tabelkategori{
	width: 100%;
	border-collapse: collapse;
}
.tabelkategori tr {
	height: 30px;

}
.tabelkategori tr td {
	padding: 15px 25px;
}
.btneditkategori{
	width: 20%;
	padding: 7px;
	margin-bottom: 0px;
	margin-left: 70px;
	box-sizing: border-box;
	background-color: #05E707 ;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 100%;
	justify-content: left;
	align-items: right;

}
.btntambahkategori{
	width: 10%;
	padding: 7px;
	margin-bottom: 15px;
	margin-left: 90%;
	box-sizing: border-box;
	background-color: #05E707 ;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 100%;

}
.boxdatakategori{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 100%;
	margin:20px ;
}

/* BAGIAN PRODUK  */

.boxtambahproduk{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 400px;
	margin:20px ;
	color: black;

}

/* BAGIAN BERANDA  */
.search{
	padding: 15px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	text-align: center;
}
.search input[type=text]{
	width: 50%;
	padding: 10px;
}
.search input[type=submit]{
	padding: 11px ;
	background-color: #05E707;
	color: white ;
	border: none;
	font-size: 16px;
	cursor: pointer;
}
.h2beranda{
	color: green;
	padding: 10px 0;
	margin-bottom: 120px;
	font-size: 30px;
}

.h2kategori{
	color: green;
	padding: 10px 0;
	margin-bottom: 20px;
	font-size: 30px;
}

.sectionp {
	padding: 25px 0px ;
	display: inline-block;
	display: flex;
	justify-content: right;
}

.containerp{
	width: 80%;
	margin:0 auto;


}
.containerp:after {
	content: '';
	display: block;
	clear: both;

}
.boxberanda{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	margin-top: -110px;
}
.boxberanda:after{
	content: '';
	display: block;
	clear: both;
}
.h2profil{
	color: green;
	padding: 10px 0;
	font-size: 30px;
}
.col-5{
	width: 20%;
	height: 100px;
	margin-bottom: 20px;
	text-align: center;
	float: left;
	box-sizing: border-box;
}
.col-5:hover{
	box-shadow: 0 0 3px #999;
}

.col-4{
	width: 25%;
	height: 320px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.col-4:hover{
	box-shadow: 0 0 3px #999;
}
.col-4 img{
	width: 200px;
	float: center;
	resize: both;
}
.col-4 .nama{
	color: #666;
	margin: 5px;
}
.col-4 .harga{
	font-weight: bold;
	color: ;
	float: right;
	font-size: 20px;
}
.produk{
	font-weight: 300;
	font-size: 18px;
}

/* BAGIAN KONTAK  */
h4 {
	margin-bottom: 10px;
	margin-top: 20px;
}
.boxkontak{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	width: 100%;
}
.imgalamat{
	width: 800px;
	margin-top: 25px ;
	float: center;

}

/* DETAIL PRODUK  */
.boxdetailp{
	background-color: white;
	border: 2px solid #ccc;
	padding: 20px 20px 20px ;
	box-sizing: border-box;
	margin: 10px 0 25px 0;
	margin-top: 10px;
}
.boxdetailp:after{
	content: '';
	display: block;
	clear: both;
}
.col-2{
	width: 50%;
	min-height: 200px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}
.col-2 h2{
	margin-bottom: 10px;
}
.col-2 h3{
	color: #FF6646;
	font-size: 36px;
}
.col-2 p {
	margin: 15px 0;
	text-align: justify;
	line-height: 20px;
	font-size: 16px;
}

@media screen and (max-width: 768px){
	.container{
		width: 90%;
	}
	.col-5 {
		width: 50%;
		margin-bottom: 10px;
	}
	.col-4{
		width: 50%;
		height: 300px;
	}
	.col-2{
		width: 100%;
	}
}
