*{
	padding:0;
	margin:0;
	font-family: 'Roboto';
}
body {
	background-color: #f8f8f8;
	
}
#bg-login{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.box-login{
	width: 300px;
	min-height: 200px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
	box-sizing: border-box;
}
.box-login h1{
	text-align: center;
	color: green;
	margin-bottom: 15px;
}
.input-control{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
}
.tombollogin{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	box-sizing: border-box;
	background-color: #333BFF ;
	color: #fff;
	border: none;
	cursor: pointer;
}
